@import './reset';
@import './baselib';
@import './node_modules/highlight.js/styles/tomorrow';

/**
 * Vars
 */

$content-max-width: 1440px;

$color-pale: rgba(0, 0, 0, 0.20);

$color-code-bg: floralwhite;

// http://brandcolors.net
$color-github:  #4183c4;
$color-twitter: #55acee;

$font-size-h1: 1.6rem;
$font-size-h2: 1.4rem;
$font-size-h3: 1.2rem;

/**
 * Global
 */

html {
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Segoe UI', Verdana, sans-serif;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Tentative
  letter-spacing: 0.1pt;
}

body {
  overflow-x: auto;
  overflow-y: scroll;
}

code {
  background-color: $color-code-bg;
}

.hljs {
  background-color: $color-code-bg;
}

/**
 * Misc
 */

.sidenav-column {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20vw;

  // Enable scroll
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-column {
  @extend .col-start-stretch;
  padding: 1rem;
  padding-left: calc(20vw + 1rem);
  max-width: $content-max-width;
}

.hr {
  color: $color-pale;
}

.fancy-list > * {
  position: relative;
  padding-left: 1.5em;
}

.fancy-typography {
  h1 {font-size: $font-size-h1}
  h2 {font-size: $font-size-h2}
  h3 {font-size: $font-size-h3}

  h1, h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    margin-bottom: 1rem;
  }

  > p, > ul, > ol, > pre {
    &:not(:first-child) {
      margin-top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  > ul, > ol {
    @extend .fancy-list;
  }

  li {
    &:not(:first-child) {
      margin-top: 0.25rem;
    }
    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  hr {
    @extend .margin-2-v;
    @extend .hr;
  }

  a:not(.undecorate) {
    @extend .decorate-link;
    &[target~=_blank] {
      @extend .external-link;
    }
  }
}

.heading-anchor {
  font-size: 1rem;
  @extend .margin-0x5-l;
  @extend .undecorate;
  &:hover, &:focus {
    border-bottom: 1px solid;
  }
}

.sidenav-list {
  @extend .col-start-stretch;
  @extend .gaps-0x25-v;
  .sidenav-list {
    @extend .margin-0x5-l;
  }
}

.sidenav-link {
  @extend .row-between-center;
  > * {
    border-bottom: 1px dotted;
  }
  &:hover > *, &:focus > * {
    border-bottom: 1px solid;
  }
  &:hover, &[aria-current]:not([aria-current='']) {
    &::after {
      content: '→';
    }
  }
}

.decorate-link {
  border-bottom: 1px dotted;
  &:hover, &:focus {
    border-bottom: 1px solid;
  }
  &[target~=_blank] {
    @extend .external-link;
  }
}

.external-link::after {
  content: '↗︎';
  margin-left: 0.2rem;
  opacity: 0.5;

  // Iffy, may be wrong for some fonts
  position: relative;
  top: 0.2ex;
}

.opacity-40 {
  opacity: 0.4;
}
