body {
  margin: 0;
  padding: 0;
  max-width: none;
}

.fix-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

article code, article pre {
  background-color: aliceblue;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-stretch {
  align-items: stretch;
}

.frb {
  @extend .flex-row;
  @extend .flex-between;
}

.sidenav {
  background-color: rgba(aquamarine, 0.2);
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
}

.list .list {
  margin-left: $sf-space / 2;
}

.list a {
  line-height: 1.6em;
}

.list a > * {
  border-bottom: 1px dotted;
}

.list a:hover > *, .list a:focus > * {
  border-bottom: 1px solid;
}

.list .active::after, .list a:hover::after {
  content: '→';
}

.flex-1 {flex: 1}
.flex-2 {flex: 2}
.flex-3 {flex: 3}
.flex-4 {flex: 4}
