// https://github.com/mitranim/style-base

*, ::before, ::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/**
 * Typography
 */

* {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
}

// Fixed line height reduces the jumping that happens when loading a webfont.
// `ex` ≈ height of lowercase letter. This property must be set directly on an
// element rather than inherited, hence the `*`.
* {
  line-height: 2.5ex;
}

html {
  font-family: sans-serif;
}

pre, code {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

/**
 * :focus
 */

:focus {
  outline: none;
}

// FF
::-moz-focus-inner {
  border: none;
}

/**
 * cursors
 */

html, :-webkit-any-link {
  cursor: default;
}

/**
 * button
 */

button {
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: inherit;
  &:focus {@extend :focus;}
  &:active {@extend :focus;} // FF
  > * {vertical-align: middle}
  border-radius: 0;
}

[role=button] {
  cursor: pointer;
}

/**
 * inputs
 */

input, textarea {
  border: none;
  color: inherit;
  background-color: inherit;
}

textarea {
  resize: none;
}

::placeholder {
  color: currentColor;
  opacity: 0.5;
}

form, input, textarea, button, select, option {
  text-decoration: inherit; // FF
}

input[type=checkbox],
input[type=radio],
input[type=select],
input[type=file] {
  cursor: pointer;
}

// In Chrome (version 63 and possibly others), radio inputs shrink, while
// radio inputs don't.
input[type=radio] {
  flex-shrink: 0;
}

// Eliminates some minor layout glitches
form {
  display: flex;
  flex-direction: column;
}

/**
 * hr
 */

hr {
  margin: 0;
  border: none;
  // Applying border to a pseudoelement rather than the <hr /> itself allows
  // padding to affect the width
  &::before {
    content: '';
    display: block;
    border-top: 1px solid;
  }
}

/**
 * anchor
 */

a {
  text-decoration: none;
  // Screw default anchor colors! They always mess with themes. Let's decorate
  // links manually.
  color: inherit;
}

a[href] {
  cursor: pointer;
}

/**
 * Lists
 */

ul, ol {
  list-style-type: disc;
  list-style-position: inside;
}

/**
 * monospace
 */

pre {
  white-space: pre-wrap;
}

/**
 * Typography
 */

b, strong {
  font-weight: bolder;
}

/**
 * Misc
 */

// IE 10 fix & higher specificity.
[hidden]:not(:root) {display: none}

// IE fix.
template {display: none !important}

[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

img {
  max-width: 100%;
}

// code, pre {
//   // Normalise monospace font size.
//   font-size: 14/16 * 1em;
//   // Prevent further reduction.
//   code, pre {
//     font-size: 1em;
//   }
// }
